*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
}

a{
    text-decoration: none;
}

.toolbar{
    width: calc(100% - 20px);
    height: 30px;
    background-color: #191919;
    border-bottom: #2a2a2a solid 2px;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    cursor: pointer;
}


.toolbar .toolbar-item{
    color: #fff;
    height: 30px;
    background-color: #191919;
    min-width: 30px;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    border:#191919 solid 1px; 
}
.toolbar .toolbar-item button{
    background-color: #191919;
    border: none;
}
.toolbar .toolbar-item button{
    cursor: pointer;
}

.toolbar .toolbar-item button:hover{
    border:#424242 solid 1px; 
    border-radius: 5px;
}



/* Estilo do menu drop-down */
.dropdown {
    position: relative;
    display: inline-block;
    padding: 0 5px;
  }
  
  button .dropbtn {
    background-color: #111;
    color: white;
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #2a2a2a;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 160px;
    color: #fff;
  }
  
  .dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #191919;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  


/* Barra lateral*/

.sidebar{
    width: 230px;
    height: calc(100% - 52px);
    float: left;
    position: absolute;
    border-right: #2a2a2a solid 2px;
    background-color: #191919;
    left: 0;
    top: 42px;
    padding: 5px;
}

.sidebar .folder-list{
    width: 80%;
    height: auto;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 20px;
    margin-left: 10%;
}

.sidebar .folder-list a{
    width: calc(100% - 20px);
    height: 30px;
    float: left;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    font-size: 18px;
    cursor: pointer;

}

.sidebar .folder-list a .item{
    width: calc(100% - 20px);
    height: 30px;
    float: left;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 18px;
    cursor: pointer;
    padding: 0 10px;
}

.sidebar .folder-list a .item:hover{
    background-color: #2a2a2a; 
    border-radius: 5px;
    padding: 0 10px;
}

.sidebar .folder-list  a .item{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;

}

.divisor{
    width: 80%;
    margin-left:10%;
    border-bottom: solid #3a3a3a 1px ;
}

.sidebar .trashcan{
    width: calc(100% - 20px);
    height: 40px;
    position: absolute;
    bottom: 5px;
    border: #2a2a2a solid 2px;
    border-radius: 5px;
    left: 5px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 10px;
}

.sidebar .trashcan img{
    width: 18px;
    height: 18px;
}

.sidebar .trashcan a{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 10px;
}

.sidebar .trashcan:hover{
    background-color: #2a2a2a;
}



/*Lista de itens na view*/

.view{
    width: calc(100% - 282px);
    height: calc(100% - 82px);
    float: left;
    position: absolute;
    background-color: #191919;
    left: 242px;
    top: 42px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.content{
    width: 100%;
    min-height: 200px;
    height: auto;
    gap: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    flex-wrap: wrap;
}

.item-view {
    width: 64px;
    height: 64px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza o conteúdo dentro de cada item */
    justify-content: center;
    margin: 10px; /* Adiciona um pequeno espaçamento ao redor dos itens */
    text-align: center;
    color: white;
    float: left; /* Faz os itens ficarem lado a lado */
    text-decoration: none;
    font-size: 10px;
    cursor: pointer;
}

.item-view img {
    width: 60px; /* Ajuste o tamanho da imagem conforme necessário */
    height: 60px;
}

.item-view span {
    margin-top: 5px;
    font-size: 14px;
}

